In [2]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import matplotlib.dates as mdates
import statistics


skips_list = pd.read_csv('../../data/interm_data/skips_indexing.csv')
print(skips_list[['Name','bin_ID']])

skips_matrix_ID = pd.read_csv('../../data/interm_data/dist_matrix_ID.csv')
skips_matrix_ID[['FROM_ID','TO_ID','DIST_KM']].to_csv('../../data/interm_data/dist_matrix_ID_filtered.csv', index=False)

                       Name  bin_ID
0           Ndirande ground       1
1      Chimwankhunda mosque       2
2              Naizi market       3
3         Machinjiri market       4
4        South Lunzu market       5
5              Khama market       6
6          Nkolokoti market       7
7            Kachere market       8
8            Kachere market       9
9              Naizi market      10
10            Bangwe market      11
11            Bangwe market      12
12            Bangwe market      13
13            Bangwe ground      14
14            Bangwe ground      15
15        Limbe flea market      16
16             Limbe market      17
17          Limbe Hard Ware      18
18             Limbe market      19
19     Pafumbi bus terminal      20
20                 Likotima      21
21                    I.T.G      22
22                Chigumula      23
23                Chigumula      24
24               BCA market      25
25               BCA market      26
26               BCA market      27
27                Chigumula      28
28          Ndirande ground      29
29          Ndirande market      30
30      Kameza round a bout      31
31          Chirimba market      32
32          Chirimba market      33
33                  Chiweto      34
34           Chemusa market      35
35                  Kayange      36
36           Mbayani market      37
37                 Mbwerela      38
38         Chilomoni market      39
39                    Fargo      40
40           Nthukwa market      41
41     Blantyre flea market      42
42     Mibawa Bus terminals      43
43          Blantyre market      44
44                 Malekano      45
45            Manase Market      46
46                 Chilobwe      47
47           Thawale market      48
48   Zingwangwa water board      49
49        Zingwangwa mosque      50
50             Soche market      51
51      Wenela Bus terminal      52
52  Queens Guardian shelter      53
53               Mzedi dump      54
54         Limbe Composting      55
55      Storage city center      56

      FROM_ID  TO_ID  DURATION_H   DIST_KM
0           1      1    0.000000   0.00000
1           1      2    0.217306   8.52190
2           1      3    0.319517  12.71534
3           1      4    0.207894   7.58530
4           1      5    0.245625  13.21229
...       ...    ...         ...       ...
3131       56     52    0.051486   2.55658
3132       56     53    0.040847   1.05084
3133       56     54    0.183989  10.56531
3134       56     55    0.260478  10.22377
3135       56     56    0.000000   0.00000

[3136 rows x 4 columns]